body {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font: 20px serif;
}

span.cell {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid white;
  margin: 3px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

span.cell:hover {
  border: 1px dotted grey;
  border-radius: 20px;
  cursor: pointer;
}

#bar {
  margin: 0;
  background-color: black;
  text-align: center;
  padding: 5px;
  color: white;
  font: 18px Helvetica, sans-serif;
}

#wrapper {
  background-color: white;
  width: 100%;
  margin: 0;
}

#content,
#single-language {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 980px;
}

#single-language {
  display: none;
}

#logo {
  height: 320px;
  margin-bottom: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

.tag {
  font-family: Arial, sans-serif;
  font-size: 90%;
  border: 1px solid blue;
  padding: 3px;
  color: white;
  background-color: blue;
}

#text {
  max-width: 816px;
  margin: 32px auto;
}

#footer {
  color: blue;
  font-family: Helvetica, sans-serif;
  font-size: 75%;
  padding-top: 8px;
  margin-top: 80px;
  width: 100%;
}

#mainfooter {
  font: italic 85% Georgia, serif;
  margin-top: 60px;
}

#prev {
  float: left;
}

#next {
  float: right;
}
